/*  background1: #464442
    background2: #154551
    accent: #b87a40 */
* {
    margin: 0;
    padding: 0;    
}
.border{
    border: 1px solid #b87a40;
    border-radius: 10px;
    
}
.myDivElement{
    text-align:center;
}
ul{
    display: table;
    margin: 0 auto;
    padding: 0 auto;
    display: inline;
    text-align: center;
    list-style: inside;
}

/* Small device*/
@media only screen and (max-width: 426px) {
.border{
    border: 1px solid #b87a40;
    border-radius: 10px;
    overflow: hidden;
    }
}

h1{text-align: center;
margin: 25px;}
h2{margin: 25px 75px;}
.maincontainer{
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    
}
.container{
    padding:0px;
    margin: 0px;
    display: inline-flex;
    flex-direction: row;
    border: 2px #b87a40;
    
}
.flex-item-text {
    padding: 10px;
    width: 250px;
    height: 300px;
    margin: 0px 25px 25px 5px;
    line-height: 1em;
}
.flex-item-pic {
    padding: 0px;
    width: 300px;
    height: 300px;
    margin: 25px 0px 25px 50px;
}

.breaking{    
    width:500px;
    word-wrap: break-word;
}
.wrap    { 
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
  }  
  .mainBox{
    width: 97%;
    margin-left: 1%;
    background-color: #154551;   
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px #272727;
    align-items: center;
}
.cardText{
    background-color: #464442;
    width: 80%;
    max-height: fit-content;
    max-width: 300px;
    max-block-size: 125px;
    margin-top: 6%;
    margin-bottom: 2%;
    margin-left: 45px;
    box-shadow: 3px 3px #272727;
    padding: 1%;
}

@media only screen and (max-width: 768px){
    .img, .cardText{
        justify-content: center;
    }
}
@media screen and (max-width: 760px) {
    img {
         width: 250px;
         height: 167px;
         margin-right: 25px;
    }
    .cardText{
        width: 250px;
        margin-left: 55px;
        text-align: right;
    }
    .flex-item-text{
        margin-left: 0px;
    }
    .mainBox{
        width: 95%;
        margin: 0 auto;
    }
    .ul, .li{
        text-align: center;
    }
}
body {
    height: 100%;
    width: 100%;
    background-color: #464442;
    color: #b87a40;
    font-size: 8;
    text-shadow: 2px 2px #25221e;
}