/* general*/
* {
    margin: 0;
    padding: 0;
    color: #b87a40;   
    text-shadow: 1px 1px #25221e;
    }

/* background*/
.bg{
    background-color: #464442;
}

/* contact banner*/
.headerBox{
    width: 97%;
    display: flex;
    margin:auto;
    justify-content: center;
    border: 1px solid #b87a40;
    border-radius: 10px;
    overflow: hidden;
    background-color: #154551;
    box-shadow:  3px 3px black;
}
.navBox{
    display: flex;
    justify-content: space-evenly;
}
.button{
    width: 50%;
    margin: 2%;
    padding: 2px;
    background-color: #154551;
    border: 1px solid #b87a40;
    border-radius: 10px;
    box-shadow: 5px 5px black;
    text-align: center;
}
.top{
    width: 97%;
    height: 10vh;
    background-color: #154551;
    margin: auto;
    border: 1px solid #b87a40;
    border-radius: 10px;
    box-shadow: 5px 4px #000000;
}
.top p{
    font-size: 300%;
    text-align: center;
    line-height: 10vh;
}

/*main body*/
.info{
    display: flex;
    flex-direction: row;
    width: 97%;
    margin: auto;
    background-color: #464442;
    margin-top: 2%;
}
.form{
    width: 30%;
    min-height: 500px;
    background-color: #154551;
    border: #b87a40 solid 1px;
    border-radius: 10px;
    box-shadow: 5px 4px #000000;
    padding: 5px;
    margin-right: 5%;
}
.form p{
    padding: 5px;
    text-align: center;
    font-size: 2vw;
}
#textfield{
    height: 60%;
    width: 90%; 
    margin-left: 5%;
}
#submit{
    float: right;
    margin-top: 5px;
    margin-right: 5%;
    background-color: #464442;
}
.details{
    display: flex;
    flex-direction: column;
    width: 30%;
    min-height: 500px;
    margin-right: 5%;
    background-color: #154551;
    border: solid #b87a40 1px;
    border-radius: 10px;
    box-shadow: 5px 4px #000000;
}
.picture{
    width: 30%;
    min-height: 500px;
    border: solid #b87a40 1px;
    border-radius: 10px;
    box-shadow: 5px 4px #000000;
    background-image: url(images/plant.jpg);
    background-size: cover;
    background-position:center
}
.location{
    height: 40%;
    width: 80%;
    text-align: center;
    background-color: #464442;
    margin: auto;
    border: solid #b87a40 1px;
    border-radius: 10px;
    box-shadow: 5px 4px #000000;
}
.contact{
    height: 40%;
    width: 80%;
    text-align: center;
    background-color: #464442;
    margin: auto;
    border: solid #b87a40 1px;
    border-radius: 10px;
    box-shadow: 5px 4px #000000;
}
.pmain{
    padding: 5px;
    text-align: center;
    font-size: 4vw;
}
.punderline{
    font-family: sans-serif;
    text-decoration: underline;
    font-size: 2vw;
    line-height: 2vw;
}

/*googel maps*/
.map{
    
    max-height: 500px;
    margin-top: 5%;

}
iframe{
    width: 100%;
    max-height: 500px;
}
footer{
    width: 97%;
    margin-left: 1%;
    background-color: #154551;
    border: 1px solid #b87a40;
    border-radius: 10px;
    margin-top: 3%;
    padding-top: 2%;
    padding-bottom: 2%;
    box-shadow: 4px 4px black;
    text-align: center;
}
@media only screen and (max-width: 768px){

}
@media only screen and (max-width: 426px) {
.info{
    display: flex;
    flex-direction: column;
    width: 97%;
    margin: auto;
    background-color: #464442;
    margin-top: 2%;
    gap: 10px;
}
.form{
    width: 97%;
    min-height: 300px;
}
#textfield{
    height: 140px;
}
.details{
    flex-direction: row;
    width: 97%;
    min-height: 200px;
    gap: 5px;
    padding: 5px;
}
.location{
    height: 40%;
    width: 45%;
    text-align: center;
    background-color: #464442;
    margin: auto;
}
.contact{
    height: 40%;
    width: 45%;
    text-align: center;
    background-color: #464442;
    margin: auto;
}
.pmain{
    padding: 5px;
    text-align: center;
    font-size: 30px;
}
.punderline{
    font-family: sans-serif;
    text-decoration: underline;
    font-size: 15px;
    line-height: 15px;
}
.picture{
    width: 97%;
    min-height: 100px;
    padding: 5px;
}
}