*{
    margin: 0;
    padding: 0;
}
/* Small device*/
@media only screen and (max-width: 425px) {
    .button{
        margin: 5%;
    }
    body{
        width: 100%;
        height: 100%;
        background-color: #154551;
        color: #b87a40;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    
    header{
        border: 2px solid #b87a40;
    }

    #header-box{
        display: flex;
        justify-content: center;
    }
    
    nav{
        border: 2px solid #b87a40;
    }

    #nav-box{
        display: flex;
        justify-content: center;
    }
    
    main{
        border: 2px solid #b87a40;
    }

    #main-box{
        background-color: aliceblue;   
        display: flex;
        flex-direction: column;

    }

    .room-card{
        width: 100%;
        height: 300px;
        border: 2px solid #b87a40;
    }
    
    footer{
        border: 2px solid #b87a40;
    }
}

/* Big device*/
@media only screen and (min-width: 425px) {
    .button{
        margin: 5%;
    }

    body{
        background-color: #154551;
        color: #b87a40;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    
    header{
        border: 2px solid #b87a40;
    }
    
    nav{
        border: 2px solid #b87a40;
    }

    #nav-box{
        display: flex;
        justify-content: center;
    }
    
    main{
        border: 2px solid #b87a40;
    }
    
    footer{
        border: 2px solid #b87a40;
    }
}

